Flask
psutil
pyqt5
requests
crontab
ttkbootstrap
alembic
blinker
bottle
certifi
cffi
charset-normalizer
click
clr-loader
colorama
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
pillow
pip
proxy_tools
pycparser
PyQt5
PyQt5_sip
PyQt5-Qt5
pythonnet
pywebview
SQLAlchemy
typing_extensions
urllib3
Werkzeug